/*
    Color Theme Light Swatches in RGBA
    .Light-golden-brown-gradient-abstract-background-1-rgba { color: rgba(216, 189, 138, 1); }
    .Light-golden-brown-gradient-abstract-background-3-rgba { color: rgba(242, 234, 220, 1); }
    .Light-golden-brown-gradient-abstract-background-5-rgba { color: rgba(191, 149, 99, 1); }

    Color Theme Dark Swatches in RGBA
    .man-walking-in-the-night-following-light-1-rgba { color: rgba(63, 63, 58, 1); }
    .man-walking-in-the-night-following-light-3-rgba { color: rgba(190, 191, 174, 1); }
    .man-walking-in-the-night-following-light-5-rgba { color: rgba(38, 38, 38, 1); } 
*/