body {
    background-color: #DFDEDF;
    color: #38383D;
}
#avatar {
    height: 70%;
    width: 40%;
    margin: 1%;
    border-radius: 5%;
    border: 5px solid black;
}
#card {
    text-align: center;
    font-size: 400%;
    background-color: #D9D8DA;
    border-radius: 10%;
    width: 50%;
    height: 90%;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 1%;
}
#btn_photo {
    width: 100%;
    height: 100%;
}
button {
    width: 25%;
    height: 25%;
    margin: 1%;
    border-radius: 1100px;
    box-shadow: 2px, 2px, 45px, black;
}
button:hover, button:focus {
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    transform: translateY(-0.5em);
}

#card.dark {
    background-color: #1E1E1E;
}

body.dark {
    background-color: #121212;
    color: #BB86FC;
}
#switch {
    width: 5%;
    height: 5%;
}