/*
    Color Theme Light Swatches in RGBA
    .Light-golden-brown-gradient-abstract-background-1-rgba { color: rgba(216, 189, 138, 1); }
    .Light-golden-brown-gradient-abstract-background-3-rgba { color: rgba(242, 234, 220, 1); }
    .Light-golden-brown-gradient-abstract-background-5-rgba { color: rgba(191, 149, 99, 1); }

    Color Theme Dark Swatches in RGBA
    .man-walking-in-the-night-following-light-1-rgba { color:  }
    .man-walking-in-the-night-following-light-3-rgba { color:  }
    .man-walking-in-the-night-following-light-5-rgba { color:  } 
*/

#avatar {
    height: 70%;
    width: 40%;
    margin: 1%;
}
#card {
    text-align: center;
    font-size: 400%;
    background-color: #F2E1C2;
    border-radius: 50px;
    width: 50%;
    height: 90%;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 1%;
}
#btn_photo {
    width: 100%;
    height: 100%;
}
button {
    width: 30%;
    height: 30%;
}

